In [1]:
import pandas as pd
df_users = pd.read_csv('/Users/sarahsha/Downloads/yelp_academic_dataset_user.csv')

/var/folders/vm/3_t16ydj3b9_c_n2j19d7_vh0000gn/T/ipykernel_72303/3906982796.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_users = pd.read_csv('/Users/sarahsha/Downloads/yelp_academic_dataset_user.csv')

In [2]:
df_users.head(5)

,Unnamed: 0,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",...,65,55,56,18,232,844,467,467,239,180
1,1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",...,13,10,17,3,66,96,119,119,35,18
3,3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",...,4,1,6,2,12,16,26,26,10,9
4,4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,NaN,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",...,1,0,0,0,1,1,0,0,0,0

In [3]:
df_review = pd.read_csv('/Users/sarahsha/Downloads/yelp_academic_dataset_review.csv')

/var/folders/vm/3_t16ydj3b9_c_n2j19d7_vh0000gn/T/ipykernel_72303/1646332119.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_review = pd.read_csv('/Users/sarahsha/Downloads/yelp_academic_dataset_review.csv')

In [4]:
df_review.head(5)

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0.0,0.0,0.0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1.0,0.0,1.0,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0.0,0.0,0.0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1.0,0.0,1.0,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1.0,0.0,1.0,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [5]:
# load  the datasett
df_business = pd.read_csv('/Users/sarahsha/Downloads/yelp_dataset_dataset_business_clean_withoriginalfeature.csv')
# create new binary columns based the level of restaurants price
df_dummies = pd.get_dummies(df_business['RestaurantsPriceRange2'], prefix='PriceRange')

# Concatenate the dummy variables with the original DataFrame
df_business = pd.concat([df_business, df_dummies], axis=1)

# Drop the original 'RestaurantsPriceRange2' column if needed
df_business = df_business.drop('RestaurantsPriceRange2', axis=1)

In [6]:
df_business.head(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,name_encoded,address_encoded,city_encoded,state_encoded,postal_code_encoded,PriceRange_0,PriceRange_1,PriceRange_2,PriceRange_3,PriceRange_4
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,...,81906,98814,5,13,865,True,False,False,False,False
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,73621,102520,802,16,260,False,True,False,False,False
2,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,...,59703,2428,397,16,130,True,False,False,False,False
3,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,...,72302,82344,27,18,621,False,True,False,False,False
4,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,38.627695,-90.340465,2.5,13,...,27876,98191,105,13,885,False,False,True,False,False

In [7]:
df_sorted = df_users.sort_values(by='review_count', ascending=False)
df_sorted

,Unnamed: 0,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
17169,17169,Hi10sGSZNxQH3NLyWSZ1oA,Fox,17473,2009-05-26 11:33:58,206296,185823,195814,"2014,2015,2016,2017,2018,2019,20,20,2021","uZcWE40gWJHjLT_VyNBp1Q, N52nbyDKZte4PUfJVNpkGQ...",...,431,402,130,45,2408,6565,7655,7655,1644,4053
795339,795339,8k3aO-mPeyhbR5HUucA5aA,Victor,16978,2007-12-08 14:56:45,152979,84992,125516,"2008,2009,2010,2011,2012,2013,2014,2015,2016,2...","Isb9ZKTK4L5nkOpyXypDPQ, d3rfsXGWtS7fpGsYfy_C7Q...",...,327,222,55,84,2204,3786,3618,3618,2731,256
4723,4723,hWDybu_KvYLSdEFzGrniTw,Bruce,16567,2009-03-08 21:47:44,173089,98459,144849,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...","sZ0Qxjn12H8jjHBPLQW32w, Lkk3DqzhvqwpiQKwwAyZcw...",...,586,541,34,76,2466,5264,6728,6728,5811,2224
606393,606393,RtGqdDBvvBCjcu5dUqwfzA,Shila,12868,2010-10-17 06:35:06,11109,3747,3292,"2012,2013,2014,2015,2016,2017,2018,2019,20,20,...","hz79Mq7EGhHXZkIspAQtrg, LJE8g5sbnmu5Ua9YGN9SKw...",...,20,3,8,7,146,175,173,173,97,11
152,152,P5bUL3Engv-2z6kKohB6qQ,Kim,9941,2006-05-31 21:27:42,27549,10772,21375,"2006,2007,2008,2009,2010,2011,2012,2013,2014,2...","hfY2Soz8LWSA0oRVcYuRmg, Y6_gZa4jVXv0d4qiMbbycw...",...,130,113,47,34,511,1073,1199,1199,482,252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129442,1129442,qXHJa8Tf7Ef_wieJLIatxw,Daniel,0,2020-07-15 18:26:55,0,0,1,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1564725,1564725,gglRKAawIJc1vXFoqa_MTw,Patti,0,2021-10-15 16:36:17,0,0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
510909,510909,h2xeEEOpFyZHBnezJy1pYQ,Gemmika,0,2021-12-07 23:30:55,1,1,0,NaN,"LlS0gz6S-lDbyyQ9-_9bEw, H3I-bBrba1LihUfpCcvwzw...",...,0,0,0,0,0,0,0,0,0,0
1960146,1960146,oMs1WGbr4pc-k5gtBMN94w,Herminio,0,2021-09-18 18:33:05,0,0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1830480,1830480,IEkS_T0KS3_yiCYRvXd_0Q,Tj,0,2012-09-24 19:04:08,0,0,0,NaN,"2izxBhCNW3NkCQn1qvQ8Lw, VyEV0g9HWol70qDPGOInJA...",...,0,0,0,0,0,0,0,0,0,0

In [8]:
# get users historical perference
filtered_review = df_review[df_review['user_id'] == 'Hi10sGSZNxQH3NLyWSZ1oA']

In [9]:
filtered_review

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
112185,112185,b5VZJ_AvHIlTbxk1Yp7F7Q,Hi10sGSZNxQH3NLyWSZ1oA,rsDFJ05TiW7yBMdVuQ2tQQ,5.0,21.0,17.0,19.0,Now it's time for a rap.\n\nYou think you know...,2017-11-01 16:01:30
115022,115022,r_ucJxx2kKMc0ez8vAWDfQ,Hi10sGSZNxQH3NLyWSZ1oA,9uHEhLKTVXATCt7JSvUsCg,5.0,15.0,15.0,13.0,"My gf doesn't think much of her Johns, but I t...",2017-10-12 17:50:38
130243,130243,qK_JSK6zKp05vhKU3ZVN2w,Hi10sGSZNxQH3NLyWSZ1oA,ET5hD0a-Gr6xitL70iK1NA,2.0,3.0,2.0,3.0,The girl that served me looked like a model. E...,2017-08-02 09:42:14
143733,143733,pQqlXrvU0S9suZDja9L6PQ,Hi10sGSZNxQH3NLyWSZ1oA,_aKr7POnacW_VizRKBpCiA,4.0,8.0,3.0,3.0,"If this place sucked, it'd be ""Blows City Deli...",2017-08-02 08:39:37
153645,153645,lbtV4qM57UpJelL69yGThA,Hi10sGSZNxQH3NLyWSZ1oA,digvt_7fV-AZFwt2Fp9Z-Q,3.0,3.0,2.0,2.0,I schnuck in here after they were closed and m...,2017-08-02 09:34:58
...,...,...,...,...,...,...,...,...,...,...
6945176,6945174,nbASc9y7gvx56sFe2DaTAg,Hi10sGSZNxQH3NLyWSZ1oA,Ku4jhZEZtY2ZMEy7ePl59A,4.0,8.0,7.0,8.0,This is the stadium which has the famous hangi...,2020-12-15 11:53:32
6966981,6966979,qEl0ERbjEOcylwG1ZG3SpQ,Hi10sGSZNxQH3NLyWSZ1oA,qQO7ErS_RAN4Vs1uX0L55Q,5.0,21.0,15.0,20.0,"I wanted to write by hand about this place, bu...",2017-08-17 21:26:54
6974942,6974940,iNO80ME8rmNGvTvkeiHuFQ,Hi10sGSZNxQH3NLyWSZ1oA,9ycb4phY8qbaLcloDhmbNg,5.0,24.0,16.0,18.0,I decided to Riso to the occasion and review G...,2017-10-18 16:18:14
6986142,6986140,QMoMk--m42ujfebMUXLGtw,Hi10sGSZNxQH3NLyWSZ1oA,EjG3BCsSGj9jSphYFrd9MA,5.0,19.0,17.0,16.0,"Come here in January, maybe not in MAY JING\nC...",2019-12-07 20:57:07
6987837,6987835,eosveIrY2BWh616TUbrBnw,Hi10sGSZNxQH3NLyWSZ1oA,FaY_9x8ZtsuHe5wS2iJM1Q,5.0,35.0,35.0,38.0,If someone creepy hits on you when you're in h...,2020-08-18 22:36:40

In [10]:
df_business.iloc[:, -5:] = df_business.iloc[:, -5:].astype(int)

In [11]:
df_business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,name_encoded,address_encoded,city_encoded,state_encoded,postal_code_encoded,PriceRange_0,PriceRange_1,PriceRange_2,PriceRange_3,PriceRange_4
0,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,...,81906,98814,5,13,865,1,0,0,0,0
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,...,73621,102520,802,16,260,0,1,0,0,0
2,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,...,59703,2428,397,16,130,1,0,0,0,0
3,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,...,72302,82344,27,18,621,0,1,0,0,0
4,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144,38.627695,-90.340465,2.5,13,...,27876,98191,105,13,885,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119693,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,...,10016,55255,292,0,2629,0,0,0,1,0
119694,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,...,88854,47334,690,18,663,0,0,1,0,0
119695,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,...,17686,81129,472,9,761,0,1,0,0,0
119696,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,...,20987,42541,295,8,782,0,0,0,0,1
119697,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,...,70862,41173,18,5,462,0,1,0,0,0

In [12]:
filtered_review['business_id'].value_counts()

business_id
beoFw6hqFy-8ArV6SkZQPA    2
rZh3HQb8um-0A2mb2z1w3Q    2
AjxhKYSbc1NrGOxAcqxb9w    2
LDRLenZPm945wioD58pu-Q    1
CERQoY0ZaywZ4noyJoFg8w    1
                         ..
wP-Kn4ZOMibFsgJL8FDd1A    1
AGR4G6RCCjzmtVk0xjLTrg    1
9xPOQKtIDVaI_fN3ns35LA    1
JUKCO3FT9jh94-q_2m1D1g    1
FaY_9x8ZtsuHe5wS2iJM1Q    1
Name: count, Length: 303, dtype: int64

In [13]:
# group the reviews by business_id
average_stars_per_business = filtered_review[['business_id','stars']].groupby('business_id')['stars'].mean().reset_index()

In [14]:
# get the user's likes based on the rate of reviews, rate>=4 considered as likes
liked_business = average_stars_per_business[average_stars_per_business['stars'] >= 4]

In [15]:
liked_business

                business_id  stars
4    01Vuw9VgqJVIwThiGg3sRA    5.0
6    05wBSwtKBCad4B9GpzXY_g    4.0
7    07i5EdI8v2FBhVV-rya8Wg    5.0
9    0BgrDm4tfQBtlEV-ZqtAtg    4.0
12   0HzLbrGgZfzanCDlKW0X0Q    4.0
..                      ...    ...
296  z2FRDJSxRR3mmC9syR25xA    5.0
298  zGSgPMzY9Vk5iYOkHNreHQ    5.0
299  zLViSytSrWambgwGECNyZA    5.0
300  zS7ygYwgDMh5HSDzG3oShA    5.0
302  zp9OcdUq2CWtQuI9FFBOQQ    5.0

[207 rows x 2 columns]

In [16]:
liked_business_list = liked_business['business_id'].tolist()

In [17]:
# get all the business belong to restaurant category
df_restaurant = df_business[df_business['Restaurants'] == 1]

In [18]:
# get the restaurants in the users' liked restaurants list 
liked_restaurant = df_restaurant[df_restaurant['business_id'].isin(liked_business_list)]

In [19]:
liked_restaurant = liked_restaurant.reset_index(drop=True)

In [20]:
liked_restaurant

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,name_encoded,address_encoded,city_encoded,state_encoded,postal_code_encoded,PriceRange_0,PriceRange_1,PriceRange_2,PriceRange_3,PriceRange_4
0,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,...,6961,13775,802,16,300,0,1,0,0,0
1,oaboaRBUgGjbo2kfUIKDLQ,Mike's Ice Cream,129 2nd Ave N,Nashville,TN,37201,36.162649,-86.775973,4.5,593,...,51297,15786,690,18,660,0,0,1,0,0
2,_HcAoG6Jj_XTj4-XNEbo6Q,Fuzzy's Taco Shop,"5621 E Fowler Ave, Units 201-207",Tampa,FL,33617,28.053329,-82.392815,3.0,172,...,30803,78162,1078,5,492,0,1,0,0,0
3,07i5EdI8v2FBhVV-rya8Wg,Pupuseria & Cafeteria Centroamericana,2504 W Martin Luther King Blvd,Tampa,FL,33607,27.980925,-82.485593,4.5,137,...,62967,43181,1078,5,482,0,1,0,0,0
4,llYsxQ0IuKh0HXULlqu6fw,Filipiniana Philippine CafÃ©,3848 W Waters Ave,Tampa,FL,33614,28.024404,-82.507280,4.0,108,...,28457,60117,1078,5,489,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,ytynqOUb3hjKeJfRj5Tshw,Reading Terminal Market,51 N 12th St,Philadelphia,PA,19107,39.953341,-75.158855,4.5,5721,...,64229,73226,802,16,260,0,0,1,0,0
73,SlFWZ4EkT9RhAH-5RFGWcA,Pedro & Cary Cuban Cafe,3529 W Waters Ave,Tampa,FL,33614,28.025676,-82.500038,4.5,18,...,59246,57077,1078,5,489,0,1,0,0,0
74,G_bi7l0nU74I4Vr1V7IcMg,TeaStori,2732 E Fowler Ave,Tampa,FL,33612,28.055746,-82.429274,4.5,326,...,77662,46461,1078,5,487,0,0,1,0,0
75,G8Y4V99d9coHDNZElKPBGg,Patties of Jamaica,5172 Allisonville Rd,Indianapolis,IN,46205,39.846977,-86.112344,4.5,94,...,58961,74214,472,9,732,0,1,0,0,0
76,EjG3BCsSGj9jSphYFrd9MA,BeiJing House,"1441 E Fletcher Ave, Ste 107",Tampa,FL,33612,28.068909,-82.444260,4.5,86,...,8708,21087,1078,5,487,0,0,1,0,0

In [21]:
# get the user's favorite restuarant
liked_restaurant = df_restaurant[df_restaurant['business_id'].isin(liked_business_list)]
# select the feaures to calculate the Jaccard similarity
liked_restaurant = liked_restaurant[liked_restaurant['stars']>=4]
liked_restaurant = liked_restaurant.iloc[:, :-11].join(liked_restaurant.iloc[:, -5:])
liked_restaurant = liked_restaurant[liked_restaurant.select_dtypes(include='int').columns]
liked_restaurant = liked_restaurant.drop('review_count',axis=1)

In [22]:
# get the candidate restaurants the users may be interested in
new_restaurants = df_restaurant[~df_restaurant['business_id'].isin(liked_business_list)]
new_restaurants = new_restaurants[new_restaurants['stars']>=4]
new_restaurants = new_restaurants.iloc[:, :-11].join(new_restaurants.iloc[:, -5:])
new_restaurants = new_restaurants[new_restaurants.select_dtypes(include='int').columns]
new_restaurants = new_restaurants.drop('review_count',axis=1)

In [23]:
new_restaurants

,is_open,ByAppointmentOnly,BusinessAcceptsCreditCards,BikeParking,CoatCheck,RestaurantsTakeOut,RestaurantsDelivery,Caters,WiFi,BusinessParking,...,Smoking_outdoor,Smoking_yes,Alcohol_beer_and_wine,Alcohol_full_bar,Alcohol_no,PriceRange_0,PriceRange_1,PriceRange_2,PriceRange_3,PriceRange_4
1,1,0,0,1,0,1,0,1,1,0,...,0,0,0,0,1,0,1,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
11,1,0,1,0,0,1,1,0,1,0,...,0,0,0,1,0,0,0,1,0,0
17,1,0,0,0,0,1,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
36,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119650,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
119677,1,0,1,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
119681,1,0,1,1,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
119690,1,0,1,1,0,1,1,1,1,0,...,0,0,0,0,1,0,0,1,0,0
119692,1,0,1,1,0,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0

In [27]:
#import related library to calculate the jaccard_score
from sklearn.metrics import jaccard_score
for index_a, row_a in liked_restaurant.iterrows():
    most_similar = set()
    min_similarity = 0.9
    for index_b, row_b in new_restaurants.iterrows():
        similarity = round(jaccard_score(row_a, row_b, average='binary'),2)
        if similarity > min_similarity:
            most_similar.add(index_b)
        #print(f"Jaccard Similarity between Item {index_a} (A) and Item {index_b} (B): {similarity}")
print('the index of the restaurants with the jaccard similarity > 0.9')
print(most_similar)

{21924, 87607, 104260, 95818, 1038, 38350, 18224, 49103, 75025, 84766, 90035, 97232, 29943, 19833, 39127, 58428, 36382}

In [28]:
recommendation = df_business[['name','address','stars','review_count']].loc[list(most_similar)]

In [29]:
recommendation

,name,address,stars,review_count
21924,Italia Pizza & Pasta,1600 Woodland St,4.0,345
87607,HG Coal Fired Pizza,500 Chesterbrook Blvd,4.5,85
104260,Philomena Santucci's Square Pizza,460 West Street Rd,4.0,87
95818,Fresh Indian Grill,"1420 West Main St, Ste D",4.5,264
1038,Reytas Filipino Cuisine,1490 Haddonfield Berlin Rd,4.5,79
38350,TD Seafood & PhÃ³ House,"1028 Manhattan Blvd, Ste E",4.5,125
18224,Po Thai Restaurant,"919 Conference Dr, Ste 1",4.5,200
49103,Joe's Pizzeria,789 Rte 70 E,4.0,58
75025,Amma's South Indian Cuisine,"700 Haddonfield Berlin Rd Eagle Plz, Ste 36",4.0,107
84766,Meskerem Ethiopian Restaurant,225 S 45th St,4.5,105
90035,Salerno's III,1292 Lower Ferry Rd,4.0,68
97232,Shyan's Kitchen,3320 Houma Blvd,4.0,223
29943,Grape Leaf Express -Tampa,"10117 E Adamo Dr, Ste 703",4.0,262
19833,Lai Thai Cuisine,200 White Horse Rd,4.0,105
39127,Andorra Ping Pong,8500 Henry Ave,4.0,121
58428,Taj Mahal Restaurant,2314 Carpenter Station Rd,4.0,70
36382,Tiffin,254 W Dekalb Pike,4.0,107